{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center">人员添加</div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" id="name" placeholder="姓名" name="name">
                    </div>
                    <div class="form-group">
                        <label for="age">年龄</label>
                        <input type="number" class="form-control" id="age" placeholder="年龄" name="age">
                    </div>
                    <div class="form-group">
                        <label for="pwd">密码</label>
                        <input type="text" class="form-control" id="pwd" placeholder="密码" name="pwd">
                    </div>
                    <div class="form-group">
                        <label for="ac">薪水</label>
                        <input type="number" class="form-control" id="ac" placeholder="薪水" name="ac">
                    </div>
                    <div class="form-group">
                        <label for="ctime">创建时间</label>
                        <input type="date" class="form-control" id="ctime" placeholder="创建时间" name="ctime">
                    </div>
                    <div class="form-group">
                        <label for="gd">性别</label>
                        <select name="gd" id="gd" class="form-control">
                            {% for item in gender_choice %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dp">所属部门</label>
                        <select name="dp" id="dp" class="form-control">
                            {% for item in depart_list %}
                                <option value="{{ item.id }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">确定</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}