{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        {#   新建部门按钮     #}
        <div style="margin-bottom: 10px">
            <a href="/user/add/" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right: 5px">
                </span>
                添加人员
            </a>
        </div>

        {#     部门列表展示     #}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="margin-right: 5px">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px"></span>
                人员列表
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">用户名</th>
                    <th style="text-align: center;">年龄</th>
                    <th style="text-align: center;">密码</th>
                    <th style="text-align: center;">薪水</th>
                    <th style="text-align: center;">创建时间</th>
                    <th style="text-align: center;">性别</th>
                    <th style="text-align: center;">所属部门</th>
                    <th style="text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in query_set %}
                    <tr>
                        <th style="text-align: center;" scope="row">{{ obj.id }}</th>
                        <td style="text-align: center;">{{ obj.name }}</td>
                        <td style="text-align: center;">{{ obj.age }}</td>
                        <td style="text-align: center;">{{ obj.password }}</td>
                        <td style="text-align: center;">{{ obj.salary }}</td>
                        <td style="text-align: center;">
                            {{ obj.create_time|date:"Y-m-d H:i:s" }}
                        </td>
{#                        要加括号的地方都不需要加括号#}
                        <td style="text-align: center;">{{ obj.get_gender_display }}</td>
                        <td style="text-align: center;">
                            {{ obj.depart.title }}
                        </td>
                        <td>
                            <a href="/depart/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                            <a href="/depart/delete/?nid={{ obj.id }}" class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}