{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>防诈态势感知</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/customized.css' %}">
</head>
<body>
<script src="{% static 'js/echarts.js' %}"></script>
{#<script src="{% static 'js/customized.js' %}"></script>#}

{#导航条编写#}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/afsa/" style="color: #269abc;font-weight: bold">
                AFSA
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle loose-bold-font" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">涉诈信息库一览<span class="caret"></span></a>
                    <ul id="nav-left-drop" class="dropdown-menu">
                        <li><a href="/fraud_phone_number/" style="text-align: center">可疑电话库</a></li>
                        <li><a href="/fraud_email/" style="text-align: center">可疑邮箱库</a></li>
                        <li><a href="/fraud_ip/" style="text-align: center">可疑网址库</a></li>
                    </ul>
                </li>
                <li><a class="loose-bold-font" href="/analysis_result/">历史分析</a></li>
            </ul>
            <form class="navbar-form navbar-center">
                <div class="input-group">
                    <input id="search-content" type="text" class="form-control"
                           aria-label="Text input with dropdown button">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"
                                  style="margin-right: 5px"></span>
                            查 询
                            <span class="caret" style="margin-left: 5px"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" onclick="submitData('phone')">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑号码查询
                            </a></li>
                            <li><a href="#" onclick="submitData('email')">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑邮箱查询
                            </a></li>
                            <li><a href="#" onclick="submitData('ip')">
                                <span class="glyphicon glyphicon-signal" aria-hidden="true"
                                      style="margin-right: 5px"></span>
                                可疑网址查询
                            </a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div>

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button id="instruction"
                            type="button"
                            class="btn btn-default btn-lg dropdown-toggle"
                            data-toggle="modal" data-target="#myModal"
                            style="background-color: transparent;border: none">
                        <span class="glyphicon glyphicon-question-sign"
                              aria-hidden="true"
                              style="margin-right: 5px;"
                        ></span>
                        使用说明
                    </button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    使用说明（Instruction）
                </h4>
            </div>
            <div class="modal-body">
                使用说明
            </div>
            <div class="modal-footer">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% block content %}
{% endblock %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'js/jquery.min.js' %}"></script>#}

{% block js %}
{% endblock %}

<script>

    // 从 cookie 中获取 csrftoken
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    // 提交查询数据
    function submitData(type) {
        let input = $('#search-content').val();

        $.ajax({
            url: '/ajax/',  // 你的提交数据的 URL
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            data: {
                action: type,
                value: input
            },
            success: function (response) {
                // 处理服务器返回的响应
                console.log(response);
            },
            error: function (error) {
                // 处理错误
            }
        });
    }

    $(document).ready(function () {
        submitData();

        // 绑定查询按钮点击事件
        $('#toggle-trigger').click(function () {
            $('#dropdownMenu').dropdown('toggle');
        });
    });

</script>

</body>
</html>